.hbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-background-color: #002B5B;
}

.image-view {
    -fx-fit-height: infinity;
    -fx-fit-width: 300px;
    -fx-preserve-ratio: true;
}

.vbox {
    -fx-padding: 40px; /* Увеличиваем внутренние отступы */
    -fx-spacing: 20px; /* Увеличиваем расстояние между элементами */
    -fx-background-color: #A60321; /* Красный фон */
    -fx-border-radius: 10px 0 0 10px; /* Закругления только с левой стороны */
    -fx-background-radius: 10px 0 0 10px; /* Закругления только с левой стороны */
    -fx-alignment: center; /* Центрируем содержимое */
    -fx-pref-width: 300px; /* Уменьшаем ширину панели */
    -fx-pref-height: 500px; /* Высота остается прежней */
}

.label.header {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #FFFFFF;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.password-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #008000;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 5 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
