/* MainStyle.css */

/* Основной фон с пастельными тонами */
.root {
    -fx-background-color: #F5F5F5; /* Светло-серый фон */
}

.button {
    -fx-background-color: #A3D9B1; /* Пастельный зеленый */
    -fx-text-fill: #3C4C3F; /* Темный зеленый текст */
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #8EC08B; /* Немного более насыщенный зеленый */
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #6D8B7D; /* Мягкий зеленовато-серый цвет */
}

.list-view, .table-view {
    -fx-pref-width: 250px;
    -fx-font-size: 14px;
    -fx-background-color: #D1E0D6; /* Пастельный зеленый */
    -fx-border-color: #B3C4A6; /* Мягкий зеленый */
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.table-view {
    -fx-background-color: #E1F1E3; /* Светлый пастельный зеленый */
}

.table-column {
    -fx-font-size: 14px;
    -fx-text-fill: #5B6A4E; /* Мягкий оливковый цвет */
}

.hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.vbox > .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4C6357; /* Пастельный оливковый */
}
