.hbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-background-color: #002B5B;
}

.image-view {
    -fx-fit-height: 200px;
    -fx-fit-width: 200px;
    -fx-preserve-ratio: true;
}

.vbox {
    -fx-padding: 40px;
    -fx-spacing: 20px;
    -fx-background-color: #A60321;
    -fx-border-radius: 10px 0 0 10px;
    -fx-background-radius: 10px 0 0 10px;
    -fx-alignment: center;
    -fx-pref-width: 300px;
    -fx-pref-height: 500px;
}

.label.header {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}


.text-field, .password-field {
    -fx-pref-width: 300px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #A3B8A2;
    -fx-border-width: 1px;
}

.button {
    -fx-background-color: #008000;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #005500;
}


.hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}
